general:
  host: chat.rueckgr.at
  username: username
  password: password
  botId: paulchen/kotlin-rocket-bot
  ignoredChannels:
    - general

plugins:
  simpleReply:
    replies:
      - regex: (.*[^0-9a-z_.,\-]|^)69([^0-9.,a-z_\-].*|$)
        reply: _nice_
        probability: 50
  timePlugin:
    soccerUsername: soccerbot

webservice:
  users:
    - username: abc
      password: bcrypt
