general:
  host: chat.rueckgr.at
  username: username
  password: password
  botId: paulchen/kotlin-rocket-bot
  logRequests: false
  ignoredChannels:
    - general
  archiveLink: https://archive.chat.rueckgr.at/

plugins:
  mutePlugins:
    - SoccerPlugin
  simpleReply:
    replies:
      - regex: (.*[^0-9a-z_.,\-]|^)69([^0-9.,a-z_\-].*|$)
        reply: _nice_
        probability: 50
  soccer:
    mode: DORMANT
    nextWorldCup: 2026-06-11T00:00:00
    nextEuropeanChampionship: 2028-06-09T00:00:00
    leagueId: 4
    season: 2020
    rounds:
      - Round of 16
      - Quarter-finals
      - Semi-finals
      - Final
    apiKey: TODO
    notificationChannels:
      - paulchens-bot
    matchesToShow: 3
    username: soccerbot
  tumbleweed:
    tumbleweedChannels:
      - GENERAL
    tumbleweedUrls:
      - https://media.tenor.com/Ofev06wBI64AAAAd/tumbleweed-highway.gif
    minimumInactivity: 10
    maximumInactivity: 30
    dayStart: 10:00
    dayEnd: 20:00
    dayStartWeekend: 12:00
    holidayCountry: at
  seriousMode:
    duration: 3600

webservice:
  users:
    - username: abc
      password: bcrypt

database:
  url: jdbc:postgresql://host.docker.internal/kotlin-rocket-bot
  username: kotlin-rocket-bot
  password: TODO
